{% extends "imageshare.html" %}

{% block title_prefix %}Select an Image{% endblock %}

{% block img_head_add %}
    <style>
    #imgContainer {
        height: 30.0em;
        overflow-y: auto;
    }
    #imgContainer a {
        color: #000000 !important;
    }
    </style>
{% endblock %}

{% block breadcrumbs %}
<a href="/imageshare">Imageshare</a> | Select an Image
{% endblock %}

{% block img_content %}
    <h3>Select an Image to view:</h3>
    <noscript>
        <p class="alert alert-error">
            Javascript must be enabled in order to view TIFF images
            on most browsers, but any other type of image
            <i>should</i> display properly.<br />
            <strong>It is strongly recommended</strong>
            that you enable javascript in order to get the best
            experience on this website.
        </p>
        <img width="40%" src="/imageshare/image_raw?special=latest"/>
    </noscript>
    <div id="imgContainer">
        {{imagehtml}}
    </div>
    <script>
        $(function() {
{{imagejs}}
        });
    </script>
{% endblock %}
