{% extends "base.html" %}

{% block title %}Fires&apos; Index{% endblock %}

{% block content %}

    <h1>Hello, world</h1>
    <p>
        this is fires&apos; Web server.
    </p>
    <h3>Links:</h3>
    <div style="padding-left: 1.0em;">
      <ul>
        <li><a href="/imageshare">Image Sharing</a></li>
        <li><a href="/content">Content</a></li>
        <li><a href="/file">File</a></li>
        <li><a href="/image">Image</a></li>
        <li><a href="/form">Form</a></li>
      </ul>
    </div>

{% endblock  %}
